/**************/
/*Confirmation*/
/**************/
.confirmation {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.confirmation p {
    background-color: white;
    color: #3d424f;
    text-align: center;
    font-weight: 500;
    padding: 30px;
    border-radius: 25px;
}

.receipt-header {
    text-align: center;
}
.receipt-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.receipt-table th, .receipt-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
.receipt-total {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
}